{% extends "base_centered.html" %}

{% block title %}TEL - {{ target_user.username }} exhibits{% endblock %}

{% block pagecontent %}
<h1>{{ target_user.username }}'s Locker</h1>
<h2 class="h3">{{ target_user.name }}</h2>
{% for e in exhibits %}
<div id="exhibit-{{ e.b36id }}" class="card border rounded mb-3 avoid-pagebreak">
  <div class="card-title">
    <h1 class="h3 text-primary px-3 py-2">{{ e.title }}</h1>
    <div>
      <p><i class="fas fa-fw fa-file-plus" data-toggle="tooltip" data-placement="top" title="Exhibit created"></i> <span class="text-small">{{ e.created_string }}</span></p>
      {% if e.edited_utc %}
        <p><i class="fas fa-fw fa-pen-to-square" data-toggle="tooltip" data-placement="top" title="Exhibit last edited"></i> <span class="text-small">{{ e.edited_string }}</span></p>
      {% endif %}
      {% if e.author==g.user and not e.signed_utc %}
        <a class="btn btn-primary text-white" data-bs-toggle="modal" data-bs-target="#editModal" role="button">Edit</a>
        <a class="btn btn-danger text-white" data-bs-toggle="modal" data-bs-target="#deleteModal" role="button">Delete</a>
      {% endif %}
    </div>
  </div>
  <div class="card-body">

    {% if e.image_sha256 %}
    <img id="img-toggle-display" src="{{ e.pic_permalink }}{% if not g.user %}?token={{ e.pic_permalink | path_token(target_user) }}{% endif %}" class="mw-100 mb-3">
    {% endif %}
    <div>
    {{ e.text_html | safe }}
    </div>
  </div>

  <div class="card-footer">
    {% if e.signed_utc %}
      <p>I swear, under penalty of perjury, that to the best of my current knowledge, the foregoing statement is true.</p>
      <p><a data-bs-toggle="modal" data-bs-target="#sigModal" role="button" data-url="{{ e.sig_permalink }}" class="sig-btn btn btn-success text-white {% if e.sig_valid %}btn-success{% else %}btn-danger{% endif %}"><i class="fas fa-fw {% if e.sig_valid %}fa-signature-lock{% else %}fa-signature-slash{% endif %}"></i> <span class="text-small">{{ e.signed_string }}</span></a></p>
    {% else %}
      <p><i class="fas fa-fw fa-signature text-danger"></i> Not signed</p>
    {% endif %}

  </div>
</div>
{% else %}
<div class="text-center">
  <p>Your signed locker entries will appear here. You don't have any yet.</p>
</div>
{% endfor %}

<div class="border-top mt-5 text-center">
  <p><i>End of Signed Locker Content</i></p>

  {% if verification_link and g.user==target_user%}
  <div class="avoid-pagebreak">
    <p>The following is a public share link for this page with this exact set of exhibits, including images and signature data. Public links may be revoked at any time in your settings.</p>

    <img class="mw-100 mx-auto avoid-pagebreak" src="{{ verification_link | full_link | add_token_param(g.user) | qrcode_img_data }}">
    <div class="d-flex w-75 mx-auto">
      <input id="copy-addr" readonly="readonly" value="{{ verification_link | full_link | add_token_param(g.user) }}" data-clipboard-text="{{ verification_link | full_link | add_token_param(g.user) }}" role="button" class="clipboard-copy form-control rounded text-center bg-white">
      <label for="copy-addr" class="input-overlay-icon" role="button">
        <i class="fas fa-copy fa-fw"></i>
      </label>
    </div>

  </div>
  {% endif %}
</div>
{% endblock %}



{% block footer_text %}{% endblock %}

{% block modal %}
<!--Signature modal-->
<div class="modal fade" id="sigModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Signature</h5>
        <button type="button" class="close border-0 bg-transparent" data-bs-dismiss="modal" aria-label="Close">
          <span class="text-black" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>File integrity over time is verified with SHA-256 hashes, calculated using <code>hashlib.new('sha256', json.dumps(data, sort_keys=True).encode('utf-8')).hexdigest()</code>, where <code>data</code> is the following Python dictionary representation of this exhibit:</p>
        <pre id="field-json-for-sig" class="bg-dark text-light"></pre>
        <p>Exhibit's SHA-256 saved at time of signing (<span id="field-signed-string"></span>):<br><code id="field-signing-sha256"></code></p>
        <p>Exhibit's SHA-256 computed right now from raw live data<span class="if-image d-none"> including <a id="field-pic-permalink" target="_blank">live image</a></span>:<br><code id="field-live-sha256"></code></p>
        <p id="display-sig-valid"><i class="text-success fas fa-signature-lock"></i> This exhibit has not been altered since it was signed.</p>
        <p id="display-sig-invalid" class="d-none"><i class="text-danger fas fa-signature-slash"></i> This exhibit may have been altered since it was signed.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}