{% extends "base_centered.html" %}

{% block title %}TEL - {{ target_user.username }} exhibits{% endblock %}

{% block pagecontent %}
<h1>{{ target_user.username }}'s Locker</h1>
<h2 class="h3">{{ target_user.name }}</h2>
{% for e in exhibits %}
<div id="exhibit-{{ e.b36id }}" class="card border rounded mb-3 avoid-pagebreak">
  <div class="card-header">
    <h1 class="h3 text-primary">{{ e.title }}</h1>
    <div>
      <p><i class="fas fa-fw fa-file-plus" data-toggle="tooltip" data-placement="top" title="Exhibit created"></i> <span class="text-small">{{ e.created_string }}</span></p>
      {% if e.edited_utc %}
        <p><i class="fas fa-fw fa-pen-to-square" data-toggle="tooltip" data-placement="top" title="Exhibit last edited"></i> <span class="text-small">{{ e.edited_string }}</span></p>
      {% endif %}
      {% if e.author==g.user and not e.signed_utc %}
        <a class="btn btn-primary text-white" data-bs-toggle="modal" data-bs-target="#editModal" role="button">Edit</a>
        <a class="btn btn-danger text-white" data-bs-toggle="modal" data-bs-target="#deleteModal" role="button">Delete</a>
      {% endif %}
    </div>
  </div>
  <div class="card-body">

    {% if e.image_sha256 %}
    <img id="img-toggle-display" src="{{ e.pic_permalink }}{% if not g.user %}?token={{ e.pic_permalink | path_token(target_user) }}{% endif %}" class="mw-100 mb-3">
    {% endif %}
    <div>
    {{ e.text_html | safe }}
    </div>
  </div>

  <div class="card-footer">
    {% if e.signed_utc %}
      <p>I swear, under penalty of perjury, that to the best of my current knowledge, the foregoing statement is true.</p>
      <p><a data-bs-toggle="modal" data-bs-target="#sigModal" role="button" data-url="{{ e.sig_permalink }}{% if not g.user %}?token={{ e.sig_permalink | path_token(target_user) }}{% endif %}" class="sig-btn btn btn-success text-white {% if e.sig_valid %}btn-success{% else %}btn-danger{% endif %}"><i class="fas fa-fw {% if e.sig_valid %}fa-signature-lock{% else %}fa-signature-slash{% endif %}"></i> <span class="text-small">{{ e.signed_string }}</span></a></p>
    {% else %}
      <p><i class="fas fa-fw fa-signature text-danger"></i> Not signed</p>
    {% endif %}

  </div>
</div>
{% else %}
<div class="text-center">
  <p>Your signed locker entries will appear here. You don't have any yet.</p>
</div>
{% endfor %}

<div class="border-top mt-5 text-center">
  <p><i>End of Signed Locker Content</i></p>

  {% if verification_link and g.user==target_user%}
  <div class="avoid-pagebreak">
    <p>The following is a public share link for this page with this exact set of exhibits, including images and signature data. Public links may be revoked at any time in your settings.</p>

    <img class="mw-100 mx-auto avoid-pagebreak" src="{{ verification_link | full_link | add_token_param(g.user) | qrcode_img_data }}">
    <div class="d-flex w-75 mx-auto">
      <input id="copy-addr" readonly="readonly" value="{{ verification_link | full_link | add_token_param(g.user) }}" data-clipboard-text="{{ verification_link | full_link | add_token_param(g.user) }}" role="button" class="clipboard-copy form-control rounded text-center bg-white">
      <label for="copy-addr" class="input-overlay-icon" role="button">
        <i class="fas fa-copy fa-fw"></i>
      </label>
    </div>

  </div>
  {% endif %}
</div>
{% endblock %}



{% block footer_text %}{% endblock %}

{% block modal %}
{% include "modals/signature.html" %}
{% endblock %}