// Colors
$primary:     #1d6b95;
$secondary:   #b87d4b;
$dark:        #ecf0f1;
$light:       #463730;
$black:       #ffffff;
$white:       #000000; 
$body-color:  #d4d9dd;

// Bootstrap and its default variables
@import "evidencelocker/assets/bootstrap/scss/bootstrap";
@import "evidencelocker/assets/style/core";

