// Colors
$primary: 		#2589bd;
$secondary: 	#f79f79;
$black:         #000000;
$white:         #ffffff;


// Bootstrap and its default variables
@import "evidencelocker/assets/bootstrap/scss/bootstrap";
@import "evidencelocker/assets/style/core";

