<!--Signature modal-->
<div class="modal fade" id="sigModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="field-title"></h5>
        <button type="button" class="close border-0 bg-transparent" data-bs-dismiss="modal" aria-label="Close">
          <span class="text-black" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>File integrity over time is verified with SHA-256 hashes, calculated using <code>hashlib.new('sha256', json.dumps(data, sort_keys=True).encode('utf-8')).hexdigest()</code>, where <code>data</code> is the following Python dictionary representation of this exhibit:</p>
        <pre id="field-json-for-sig" class="bg-dark text-light"></pre>
        <p>Exhibit's SHA-256 saved at time of signing (<span id="field-signed-string"></span>):<br><code id="field-signing-sha256"></code></p>
        <p>Exhibit's SHA-256 computed right now from raw live data<span class="if-image d-none"> including <a id="field-pic-permalink" target="_blank">live image</a></span>:<br><code id="field-live-sha256"></code></p>
      </div>
      <div class="modal-footer">
        <p id="display-sig-valid"><i class="text-success fas fa-signature-lock"></i> This exhibit has not been altered since it was signed.</p>
        <p id="display-sig-invalid" class="d-none"><i class="text-danger fas fa-signature-slash"></i> This exhibit may have been altered since it was signed.</p>
        <button type="button" class="btn btn-primary ms-auto" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>